In [1]:
print('hello world')

hello world

In [5]:
print('hello world1')
print('hello world2')
print('hello world3')

hello world1
hello world2
hello world3

In [7]:
print("hi")

hi

In [13]:
num1=45
num2=55
add = num1+num2
print(add)
print(add+num1)

100
145

In [15]:
num1-5
type(num1)

int

In [17]:
num1 =66.33
type(num1)

float

In [27]:
num1 =88.22
type(num1)

float

In [33]:
name ="deepali"
type(name)

str

In [39]:
num1,num2,num3 =44,"abc",34.54
print(num1)
print(num2)
print(num3)

44
abc
34.54

In [41]:
num1 = num2 = num3 =44
print(num1)
print(num2)
print(num3)

44
44
44

In [69]:
name ="deepali"
marks =80.87
print ("my name id",name,"having marks",marks)
num1,num2,num3 =44,"abc",34.54
print(num1,num2,num3)

my name id deepali having marks 80.87
44 abc 34.54

In [51]:
print ("my name id %s having marks %f" %(name,marks))

my name id deepali having marks 80.000000

In [61]:
print ("my name id %s having marks %f and role no is %i" %(name,marks,num1))

my name id deepali having marks 80.230000 and role no is 44

In [71]:
print ("my name id %s having marks %.1f" %(name,marks))

my name id deepali having marks 80.9

In [73]:
print ("my name id %s having marks %i" %(name,marks))

my name id deepali having marks 80

In [75]:
#documentation for program
num1=45 #number1
num2=55 #number1
add = num1+num2 #addition of number1 and number1
print(add)

100

In [83]:
num1=45; num2=55;add = num1+num2;print(add)

100

## Operators
#### 1. Arithmatic

In [94]:
num1 =20
num2 =50
add = num1 +num2 #addition
print ('Addition is',add)
print ('subtraction is' ,num2-num1)
print ('multiplication is' ,num2*num1)
print ('division is' ,num2/num1)
print ('floor division is' ,num2//num1)
print ('modulo division is' ,num2%num1)
print ('raised to' ,num2 **num1) #power of

Addition is 70
subtraction is 30
multiplication is 1000
division is 2.5
floor division is 2
modulo division is 10
raised to 9536743164062500000000000000000000

#### 2. Assignment operator

In [116]:
num1 =67
num1+=2
print(num1)
num1-=2
print(num1)
num1 *=2
print(num1)
num1 /=4
print(num1)
num1 //=4
print(num1)

69
67
134
33.5
8.0

#### 3. Relational operator

In [125]:
num1 =70
num2 =50
print( 'Greater than:', num1>num2)
print( 'Greater than and equal :', num1>=num2)
print( 'less than:', num1<num2)
print( 'less than and equal:', num1<=num2)
print( 'equal:', num1==num2)
print( 'not equal:', num1!=num2)

Greater than: True
Greater than and equal : True
less than: False
less than and equal: False
equal: False
not equal: True

#### 4. logical operator

In [131]:
num1 =70
num2 =50
print( 'AND:', (num1>num2) and (num1<100))

AND: True

In [133]:

print( 'OR:', (num1>num2) and (num1<100))

OR: True

#### 5. membership selection operator used for searching

In [142]:
name ="deepali"
'i' in name

True

In [146]:
x =[5,7,2,6,9]
2 in x

True

In [148]:
19 not in x

True

In [153]:
x =[5,7,2,3.6,"deepali",9]
'e' in x

False

## user Input

In [160]:
num = input('Enter the numder:')
print('you entered:',num)

Enter the numder: 54

you entered: 54

In [162]:
num = input('Enter the numder:')
result =num*3
print('you entered:',result)

Enter the numder: 4

you entered: 444

In [175]:
num = int(input('Enter the number:'))
result =num*3
print('you entered:',result)

Enter the number: 56

you entered: 168

In [173]:
num = input('Enter the number:')
result =int(num)*3
print('you entered:',result)

Enter the number: 5

you entered: 15

In [179]:
num1 = int(input('Enter the first number:'))
num2 = int(input('Enter the second number:'))
result =num1*num2
print('multiplication is:',result)

Enter the first number: 34
Enter the second number: 56

multiplication is: 1904

In [191]:
num1 = float(input('Enter the temp in centigrate:'))
result =(num1*(9/5))+32
print ( 'temp in farenite:',result )

Enter the temp in centigrate: 37

temp in farenite: 98.60000000000001